@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500&family=Space+Grotesk:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500&family=Space+Grotesk:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  background-color: whitesmoke;
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

.container-1 {
  display: flex;
  align-items: center;
}
/* header styles-logo */
.header {
  height: 20%;
  width: 100%;
}

#logo {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #808080;
}
#logo > img {
  width: 4%;
  border-radius: 50%;
}
#logo > h1 {
  color: #293190;
  font-family: Oleo Script;
}
/* Header styles-logo */

.banner {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.info-1 > h2 {
  text-transform: capitalize;
  color: #293190;
  font-family: 5rem;
  word-spacing: 1rem;
}
#title {
  font-style: italic;
}
.image {
  width: 90%;
}
.image > img {
  max-width: 100%;
  border-radius: 50%;
}

.info-1 > p {
  font-weight: 300;
}

#form {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 30px;
  box-shadow: 2px 2px 5px grey;
  background-color: rgb(221, 217, 217);
}
#form input {
  margin: 20px;
}
#form button {
  position: relative;
  right: 0;
  bottom: 0;
}

#btn {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  background-color: #293190;
  color: white;
  border-style: none;
}

.report-1 {
  display: flex;
  height: 200px;
  border: 1px solid black;
  padding-top: 20px;
  justify-content: space-around;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(228, 225, 225);
}

.report h3{
  margin: 20px;
  color: #293190;
}
.list > ul > li {
  list-style: none;
}

.list-1 > ul > li {
  list-style: none;
}

.week {
  border-radius: 5px;
  background-color: #293190;
  color: white;
  text-align: center;
  width: 100px;
  height: 40px;
  border-style: none;
  margin-left: 30px;
  font-weight: bold;
  margin-top: 50px;
  padding: 0 10px 0 10px;
}

.report-previous {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  background-color: white;
  padding: 10px;
}

.report-previous ul li {
  list-style: none;
}


.money-generated{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  
}

.money-generated button{
  border-radius: 5px;
  border-style: none;
  background-color: #293190;
  color: white;
  padding: 10px;
}

.monthly-income{
  display: flex;
  justify-content: space-between;
  height: 350px;
  border: 1px solid black;
}
.monthly-income ul li{
  list-style: none;
}